/* --------- RESETEO DE CSS---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* toda la caja con el padding y el borde forma parte de ese 100% */
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

@font-face {
    font-family: "acme";
    src: url("../fonts/Acme/Acme-Regular.ttf");
}

@font-face {
    font-family: "permanentmaker";
    src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: "righteos";
    src: url("../fonts/Righteous/Righteous-Regular.ttf");
}

* {
    font-family: 'acme', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* ------------------------------------ HEADER ALL hasta 576px--------------------------------------------- */

.header {
    background-color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: whitesmoke;
    /* padding-bottom: none; */
}

.header__titulo-principal h1 {
    color: whitesmoke;
    font-family: permanentmaker, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.header__logo {
    display: none;
}

.header__nav-list-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__nav-list-nav li {
    font-weight: bold;
    font-size: 1.2;
    text-align: center;
}

.header__nav-list-nav li a {
    text-decoration: none;
    color: white;
}

.header__form {
    display: none;
}


/*--------------------------------------------------FOOTER ALL hasta 576px---------------------------------------------- */
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 15px;
}

.footer__contacto-h3 {
    text-align: center;
}

.footer__contacto {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
}

.footer__contacto-contenedor {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    /* gap: 20px; */
}

.footer__contacto-iframe-gmaps {
    width: 80vw;
    height: 80vw;
    padding: 20px;
    align-items: center;
}

.footer__contenedor-redes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.footer__contenedor-redes li {
    display: flex;
    flex-direction: row;
}

.footer__contenedor-redes a {
    color: white;
    padding: 10px;
    text-decoration: none;

}

.footer__contenedor-redes h3 {
    color: white;

}

.footer__contenedor-redes img {
    width: 30px;
}


/*----------------------------------------------BODY INDEX hasta 576px------------------------------------------------------ */
.main {
    padding: 15px;
}

.main__ofertas-section-h2 {
    font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.main__ofertas-section__contenedor-fig-index {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
    /*background-color: blue;*/

}

.ofertas-seccion__tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.ofertas-seccion__tarjeta p {
    width: 60vw;
}

.ofertas-seccion__tarjeta img {
    width: 60vw;

}


.main__nuestra-empresa h2 {
    font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.main__nuestra-empresa {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main__nuestra-empresa p {
    width: 80vw;
}

.main__nuestra-empresa figure img {
    width: 80vw;

}

/*---------------------------------------BODY PAGES PRODUCTOS hasta 576px------------------------------------------- */

.main-pages {
    padding: 15px;
}

.main-pages__marcas {
    display: none;
    
}

.main-pages__marcas-h2 {
    font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

.main-pages__marcas-items {
    text-align: center;
    padding: 0px;
    font-size: 1.2rem;
}


.main-pages__productos-h2 {
    font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.6rem;
}


.main-pages__productos-contenedor-figuras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /*background-color: blue;*/

}


/*---------------------------------------BODY PAGE CONTACTENOS hasta 576px------------------------------------------- */
.main-contactenos{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.main__contactenos-h2{
    font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

.main__contactenos-form{
    gap: 10px;
    width: 60vw;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
}

.main__contactenos-form-nombre-usuario{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.main__contactenos-form-email-usuario{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.main__contactenos-form-motivo-mensaje{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.main__contactenos-form-mensaje-usuario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;    
}

.main__contactenos-form-nombre-usuario input{
    max-width: 100%;
    width: 100%;
    
}

.main__contactenos-form-email-usuario input{
    max-width: 100%;
    width: 100%;
    
}

.main__contactenos-form-mensaje-usuario textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    
}

.main__contactenos-form-sumit-reset{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*------------------------------------------MEDIA--------------------------------------------------------*/
@media(min-width: 576px) {

    /*-------------------------------------HEADER------------------------------------------------------*/


    .header__logo {
        display: block;
        width: 20vh;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15vh 10vh;
        grid-gap: 10px;


    }

    .header__form {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }



    .header__nav-list-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .header__nav {
        grid-column: span 3;
    }

    /*---------------------------------FOOTER ALL----------------------------------------- */
    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer__contacto-iframe-gmaps {
        width: 30vw;
        height: 20vw;
        padding: 20px;
        align-items: center;
    }

    /* -----------------------------------BODY INDEX------------------------------------------------ */
    .main__ofertas-section__contenedor-fig-index {
        display: grid;
        grid-template-areas:
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta"
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta";
        align-items: baseline;
        justify-content: center;
        ;

    }

    .ofertas-seccion__tarjeta p {
        width: 30vw;
    }

    .ofertas-seccion__tarjeta img {
        width: 30vw;

    }

    /* -----------------------------------BODY PAGES PRODUCTOS------------------------------------------------ */
    .main-pages {
        display: grid;
        grid-template-areas:
            "main-pages__marcas main-pages__productos"
        ;
    }

    .main-pages__marcas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /*background-color: blue;*/
    }

    .main-pages__productos-contenedor-figuras {
        display: grid;
        grid-template-areas:
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta"
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta";
        align-items: baseline;
        justify-content: center;
        ;

    }

    .ofertas-seccion__tarjeta p {
        width: 30vw;
    }

    .ofertas-seccion__tarjeta img {
        width: 30vw;

    }


}

@media(min-width: 800px) {

    .main__ofertas-section__contenedor-fig-index {
        display: grid;
        grid-template-areas:
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta ofertas-seccion__tarjeta ofertas-seccion__tarjet";
        align-items: baseline;
        justify-content: center;
        padding-top: 10px;

    }

    .ofertas-seccion__tarjeta p {
        width: 20vw;
    }

    .ofertas-seccion__tarjeta img {
        width: 20vw;

    }

    .main-pages__productos-contenedor-figuras {
        display: grid;
        grid-template-areas:
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta ofertas-seccion__tarjeta ofertas-seccion__tarjeta";
        align-items: baseline;
        justify-content: center;
        ;


    }

    /* -----------------------------------BODY PAGE CONTACTENOS------------------------------------------------ */
    .main__contactenos-form{
        gap: 10px;
        width: 40vw;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.2);
    }
}