.main-pages {
    padding: 15px;

    &__filtros {
        display: none;

        &-h2 {
            font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: left;
            font-size: 1.3rem;
        }

        &-h3 {
            font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: left;
            font-size: 1.15rem;
        }

        &-marcas-items {
            text-align: left;
            padding: 0px;
            font-size: 1.2rem;
        }

    }

    &__productos {
        &-h2 {
            font-family: righteos, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            font-size: 1.6rem;
        }


        &-contenedor-figuras {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            /*background-color: blue;*/

        }
    }
}

@media(min-width: 576px) {
    .main-pages {
        display: grid;
        grid-template-areas:
            "main-pages__marcas main-pages__productos"
        ;

        &__filtros {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 10px;
            /*background-color: blue;*/
        }

        &__productos-contenedor-figuras {
            display: grid;
            grid-template-areas:
                "ofertas-seccion__tarjeta ofertas-seccion__tarjeta"
                "ofertas-seccion__tarjeta ofertas-seccion__tarjeta";
            align-items: baseline;
            justify-content: center;
            ;

        }
    }


}

@media(min-width: 1200px) {
    .main-pages__productos-contenedor-figuras {
        display: grid;
        grid-template-areas:
            "ofertas-seccion__tarjeta ofertas-seccion__tarjeta ofertas-seccion__tarjeta ofertas-seccion__tarjeta";
        align-items: baseline;
        justify-content: center;
        ;


    }
}