.ofertas-seccion__tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    p {
        width: 60vw;
    }

    img {
        width: 60vw;
    }
}

@media(min-width: 576px) {
    .ofertas-seccion__tarjeta {
        p {
            width: 30vw;
        }

        img {
            width: 30vw;

        }
    }
}

@media(min-width: 800px) {
    .ofertas-seccion__tarjeta {
        p {
            width: 20vw;
        }

        img {
            width: 20vw;

        }
    }
}