.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 15px;



    &__contacto {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: left;

        &-h3 {
            text-align: center;
        }

        &-contenedor {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            /* gap: 20px; */
        }

        &-iframe-gmaps {
            width: 80vw;
            height: 80vw;
            padding: 20px;
            align-items: center;
        }
    }

    &__contenedor-redes {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;

        li {
            display: flex;
            flex-direction: row;

            a {
                color: white;
                padding: 10px;
                text-decoration: none;

            }
        }

        h3 {
            color: white;
        }

        img {
            width: 30px;
        }
    }
}

@media(min-width: 576px) {

    .footer {
        display: flex;
        flex-direction: row;

        &__contacto-iframe-gmaps {
            width: 30vw;
            height: 20vw;
            padding: 20px;
            align-items: center;
        }
    }

    
}